/* fonts */
@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local("FuturaPT-Light"),
    url("../fonts/FuturaPT-Light.woff2") format("woff2");
}

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("FuturaPT-Book"),
    url("../fonts/FuturaPT-Book.woff2") format("woff2");
}

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local("FuturaPT-Medium"),
    url("../fonts/FuturaPT-Medium.woff2") format("woff2");
}

body {
  font-family: "FuturaPT", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
